p{
    font-family: 'Chicle';
    font-size: 30px;
    font-weight: normal;
    color: black;
    font-style: normal;
}

.sitetitle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Chicle';
    font-size: 100px;
    margin: 0px;
}

.main-container, .inner-container, .water-image, .water-container, .bottle-count, .water-log, .metric-container{
    display:flex;
    justify-content: center;
    align-items: center;
}

.inner-container{
    flex-direction: column;
    gap: 10px;
}

.water-image{
    margin: 0px;
    width: 50%;
    height: 50%;
}

.water-container{
    flex-direction: column;
    gap: 10px;
}

#dropdown, #metric-units{
    font-family: 'Chicle';
    font-size: 30px;
    width: fit-content;
}

.bottle-count{
    gap: 5px;
}

.water-log{
    gap: 10px;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
}

#water-log, #water-total{
    font-family: "Modak", serif;
    font-size: 65px;
    font-weight: normal;
    color: black;
    font-style: normal;
    padding: 0px;
}

.water-math{
    font-family: 'Chicle';
    font-size: 30px;
}

.water-button{
    font-family: 'Chicle';
    font-size: 35px;
}